body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

.container {
    width: 85%;
    margin: 0 auto;
}


video, img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

footer p {
    text-align: right;
    font-size: 12px;
}